body { 
    width: 1200px;
    height: 2336px;
    margin: 0 auto;   
    background: #FFFFFF;
}


header {
    width: 1200px;
    height: 800px;
    background-image:  url('../assets/desktop.png');
    background-repeat: no-repeat; /*added */
    background-position: center; /* added */
    margin:0 auto;
    position:relative;
    
}

/* Properties for class .star1-.star16 added below*/

.star1 {
    position:absolute;
    top: 572px;
    left: 375px;
    width: 150px;
    height: 150px;
    background-image: url(../assets/imagestar/ellipse1.png);
    background-repeat: no-repeat;
    background-position: center;
}

.star2 {
    position:absolute;
    top: -5px;
    left: 563px;
    width: 150px;
    height: 150px;
    background-image: url(../assets/imagestar/ellipse2lt.png);
    background-repeat: no-repeat;
    background-position: center;
}

.star3 {
    position:absolute;
    top: -42px;
    left: 907px;
    width: 150px;
    height: 150px;
    background-image: url(../assets/imagestar/ellipse3rt12.png);
    background-repeat: no-repeat;
    background-position: center;
}

.star4 {
    position:absolute;
    top: 113px;
    left: 664px;
    width: 150px;
    height: 150px;
    background-image: url(../assets/imagestar/ellipse4lthalqas14.png);
    background-repeat: no-repeat;
    background-position: center;
}

.star5 {
    position:absolute;
    top: 69px;
    left: 769px;
    width: 150px;
    height: 150px;
    background-image: url(../assets/imagestar/ellipse5t10.png);
    background-repeat: no-repeat;
    background-position: center;
}

.star6 {
    position:absolute;
    top: 67px;
    left: 908px;
    width: 150px;
    height: 150px;
    background-image: url(../assets/imagestar/ellipse6t11.png);
    background-repeat: no-repeat;
    background-position: center;
}

.star7 {
    position:absolute;
    top: 87px;
    left: 900px;
    width: 150px;
    height: 150px;
    background-image: url(../assets/imagestar/ellipse7t13.png);
    background-repeat: no-repeat;
    background-position: center;
}

.star8 {
    position:absolute;
    top: 146px;
    left: 990px;
    width: 150px;
    height: 150px;
    background-image: url(../assets/imagestar/ellipse8rsag9.png);
    background-repeat: no-repeat;
    background-position: center;
}

.star9 {
    position:absolute;
    top: 158px;
    left: 1082px;
    width: 150px;
    height: 150px;
    background-image: url(../assets/imagestar/ellipses9ensagqir4.png);
    background-repeat: no-repeat;
    background-position: center;
}

.star10 {
    position:absolute;
    top: 232px;
    left: 661px;
    width: 150px;
    height: 150px;
    background-image: url(../assets/imagestar/ellipse10logoy3.png);
    background-repeat: no-repeat;
    background-position: center;
}

.star11 {
    position:absolute;
    top: 350px;
    left: 750px;
    width: 150px;
    height: 150px;
    background-image: url(../assets/imagestar/ellipse11xetdenken5.png);
    background-repeat: no-repeat;
    background-position: center;
}

.star12 {
    position:absolute;
    top: 366px;
    left: 793px;
    width: 150px;
    height: 150px;
    background-image: url(../assets/imagestar/ellipse12-xetde11inyani6.png);
    background-repeat: no-repeat;
    background-position: center;
}

.star13 {
    position:absolute;
    top: 298px;
    left: 856px;
    width: 150px;
    height: 150px;
    background-image: url(../assets/imagestar/ellipse13-12denyux-solg7.png);
    background-repeat: no-repeat;
    background-position: center;
}

.star14 {
    position:absolute;
    top: 211px;
    left: 962px;
    width: 150px;
    height: 150px;
    background-image: url(../assets/imagestar/ellipse14-13denyux-8.png);
    background-repeat: no-repeat;
    background-position: center;
}

.star15 {
    position:absolute;
    top: 273px;
    left: 976px;
    width: 150px;
    height: 150px;
    background-image: url(../assets/imagestar/ellipse15.png);
    background-repeat: no-repeat;
    background-position: center;
}

.star16 {
    position:absolute;
    top: 361px;
    left: 960px;
    width: 150px;
    height: 150px;
    background-image: url(../assets/imagestar/ellipse16.png);
    background-repeat: no-repeat;
    background-position: center;
}

/* 3 separate animation created for dots moving in different directions */

@keyframes moveDots1 {
    0% {
      transform: translate(0, 0);
    }
    50% {
      transform: translate(-33px, -20px);
    }
    100% {
      transform: translate(0, 0);
    }
  }

  @keyframes moveDots2 {
    0% {
      transform: translate(0, 0);
    }
    50% {
      transform: translate(-18px, 5px);
    }
    100% {
      transform: translate(0, 0);
    }
  }

  @keyframes moveDots3 {
    0% {
      transform: translate(0, 0);
    }
    50% {
      transform: translate(-56px, 20px);
    }
    100% {
      transform: translate(0, 0);
    }
  }
  
  /* dots grouped into three categories according to their movement */

  .flyingstars1 .star2,
  .flyingstars1 .star3,
  .flyingstars1 .star4,
  .flyingstars1 .star5,
  .flyingstars1 .star6,
  .flyingstars1 .star7,
  .flyingstars1 .star8,
  .flyingstars1 .star9,
  .flyingstars1 .star10,
  .flyingstars1 .star13,
  .flyingstars1 .star14,
  .flyingstars1 .star15
  {
    animation: moveDots1 5s infinite;
  }

  .flyingstars2 .star11,
  .flyingstars2 .star12,
  .flyingstars2 .star16  
  {
    animation: moveDots2 5s infinite;
  }

  .flyingstars3 .star1
  {
    animation: moveDots3 5s infinite;
  }

/* animation created for shining circles */

  @keyframes shineStar {
    0%, 10% {
      opacity: 0;
    }

    25%, 35% {
        opacity: 0.5;
      }
    
    50%, 65% {
      opacity: 1;
    }
    75%, 80% {
        opacity: 0.5;
      }
    
    90%, 100% {
      opacity: 0;
    }
  }

  /* Properties added for three separate shining circles */
  
  .top-star {
    position: absolute;
    top: 15px;
    left: 1003px;
    width: 250px;
    height: 250px;
    background-image: url('../assets/imagestar/top-star.png');
    background-repeat: no-repeat;
    background-position: center;
    animation: shineStar 3s infinite;
    animation-delay: 2s;
  }

  .middle-star {
    position: absolute;
    top: 153px;
    left: 745px;
    width: 250px;
    height: 250px;
    background-image: url('../assets/imagestar/middle-star.png');
    background-repeat: no-repeat;
    background-position: center;
    animation: shineStar 3s infinite;
    animation-delay: 2s;
  } 

  .bottom-star {
    position: absolute;
    top: 505px;
    left: 826px;
    width: 250px;
    height: 250px;
    background-image: url('../assets/imagestar/bottom-star.png');
    background-repeat: no-repeat;
    background-position: center;
    animation: shineStar 3s infinite;
    animation-delay: 2s;
  }

.biglogo {
    width: 63px;
    height: 63px;
    margin-left: 569px;
    margin-top: 160px;
    transition: transform 0.3s ease; /* added for transformation */

    
}

.logorotate:hover .biglogo {
    transform: scale(1.5) scaleX(-1);  /* added for rotating mirror wise */
  }

h1 {
    margin-top: 6px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
/* or 133% */
    text-align: center;
    color: #FFFFFF;
}

.afterh1 {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
/* or 133% */
    text-align: center;
    color: rgba(255, 255, 255, 0.7)
}

.sectionfirst {
    width: 1200px;
    height: 700px;
    margin-top:-40px;
    background: #EEEEEE;
    
}

.secthead {
    margin: 0 auto;
    padding-top: 87px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
/* or 133% */
    text-align: center;
    color: #464547;
}

.h3first {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
/* or 133% */
    text-align: center;
    color: #666666;
}

.par {
    width: 983px;
    height: 194px;
    display:flex;
    justify-content: center;
    column-gap: 84px;
    margin: 0 auto;
    padding-top: 5px;
    padding-bottom: 30px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    /* or 138% */
    text-align: left;
    color: #666666;
}
 /* change padding separately */
    .flexpar {
        width: 50%;
        
    }

    .readmore {    
    margin: auto;
    display:block;
    padding: 5px 21px 5px 21px;
    background: #55C2D8;
    border-radius: 18px;
    border-style: none;
    font-family: 'Oswald';
    font-size: 14px;
    line-height: 26px;
/* or 186% */
    text-align: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    text-transform: uppercase;  
    transition: transform 0.5s ease 0.6s; /*added for transition */ 
    transform-origin: left center;   /*added for transformation */

}

/* Added for dangling effect*/
.readmore:hover {
    transform: rotate(12deg);
}

.learnmore {
    background-image: url('../assets/learn-more.png');
    width: 1200px;
    height: 666px;
    margin:0 auto;
    margin-top: -40px;
}

.culture {
    padding-top: 84px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
/* or 133% */
    text-align: center;
    letter-spacing: 0.12rem;
    color: #FFFFFF;
}

/* .ellipse {
    width: 150px;
    height: 150px;
    margin: auto;
    display:block;
    
} */



/* .button9654 {
    position: relative;    
    height: 1px;
    width: 1px;
    font-size: 125px;
    
    color: white;
    left: 363px;
    top: -160px;
    padding:0%;    
    border-style:none
    
} */

/* Added the below class for transformation task*/
.play-button {
    display: inline-block;
    margin-left: 530px;
    margin-top: 20px;    
   
  }
  
  /* Added the below class for transformation task*/

  .triangle9654 {
    background-color: #39C2D7;
    border-radius: 100%;
    height: 130px;
    width: 80px;
    color: white;
    font-size: 115px; 
    text-align: center;
    padding-top: 3px;
    padding-right: 30px;
    padding-bottom: 3px;
    padding-left: 30px; 
    display: flex; 
  align-items: center; 
  justify-content: center;         
    transition: transform 0.5s, background-color 0.5s, color 0.5s;
    transition-property: transform, background-color, color; 
   transition-delay: 0.5s, 0.5s, 0.5s;
   }
   /* Added the below class for transformation task*/
   .play-button:hover .triangle9654 {
    background-color: white;
    color:#39C2D7;
    transform: scale(0.96);
    transform-origin: center center;
    transition-delay: 0.5s, 0.5s, 0.5s;  /* Adjust the scale value as needed */
}


  
  
.afterlearn {
    margin: 0 auto;
    margin-top: 60px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    /* or 133% */
    text-align: center;
    color: #FFFFFF;
}


footer {
    width: 1200px;
    height: 199px;
    margin: 0 auto;
    background: #464547;
}

   
    .smalllogo {
        position: relative;
        left: 20px;
        top: 21px;
        width: 20px;
        height: 20px;
        
    }

.project {
    margin-left: 50px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 16px;
/* identical to box height, or 89% */
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #FFFFFF;

}

.address1 {
    /* margin-left: 140px; */
    padding-top: 18px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
   
    color: rgba(255, 255, 255, 0.4);
}

.email {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.4);
    /* margin-top: 15px; */
}

.address1 span {
    margin-bottom: 10px; /* Adjust the value as per your desired distance */
  }

.copyright {
    align-self: flex-end;
    margin-left: 140px;
    padding-top: 10px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
   
    color: rgba(255, 255, 255, 0.4);
}

.flexfootcont {
    display: flex;
    justify-content: space-evenly;
    justify-items: flex-start;
    padding-top: 20px;
}

/* From here flex menu */


.menu {
    display:flex;
    /* border: 2px solid white; */
    margin-left: 70px;
    align-items: center;
    text-transform: uppercase;
    justify-content: flex-start;
    }

.projname {
    flex-basis: 220px;
    padding: 1px;
    /* border: 2px solid yellow; */
    flex-grow: 0.1;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 16px;
/* identical to box height, or 80% */

letter-spacing: 0.1em;
color: #FFFFFF;
}
/* nav {display:flex;} */
nav ul { list-style-type: none;
    display:flex;
    justify-content: center;
    column-gap: 40px;
    padding: 25px;
    flex-grow: 2;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
/* identical to box height, or 114% */

    letter-spacing: 0.2em;
    text-transform: uppercase;

color: #FFFFFF;
}

/* nav li {margin-right: 40px;} */
.menu a {
    text-decoration: none;
    color: #FFFFFF;
}

.menu .about {
    border-bottom: 2px solid #FFFFFF;
}

@media (max-width: 768px) {
    body { 
        width: 480px;
        height: 2715px;
        margin: 0 auto;   
        background: #FFFFFF;
    }
    
    /* made some changes to header to display background properly */
    header {
        width: 480px;
        height: 800px;
        background-image: url('../assets/desktop.png');
        background-repeat: no-repeat;
        background-position: right top; /*this displays only right top of desktop image*/
        background-size: auto 100%;
        margin:0 auto;
        position:relative;
    }

    /* Made necessary adjustments to dots which are seen in mobile version  */
    
    .star3 {
        position:absolute;
        top: -45px;
        left: 187px;
        width: 150px;
        height: 150px;
        background-image: url(../assets/imagestar/ellipse3rt12.png);
        background-repeat: no-repeat;
        background-position: center;
    }
    
    
    
    .star5 {
        position:absolute;
        top: 67px;
        left: 50px;
        width: 150px;
        height: 150px;
        background-image: url(../assets/imagestar/ellipse5t10.png);
        background-repeat: no-repeat;
        background-position: center;
    }
    
    .star6 {
        position:absolute;
        top: 66px;
        left: 189px;
        width: 150px;
        height: 150px;
        background-image: url(../assets/imagestar/ellipse6t11.png);
        background-repeat: no-repeat;
        background-position: center;
    }
    
    .star7 {
        position:absolute;
        top: 89px;
        left: 182px;
        width: 150px;
        height: 150px;
        background-image: url(../assets/imagestar/ellipse7t13.png);
        background-repeat: no-repeat;
        background-position: center;
    }
    
    .star8 {
        position:absolute;
        top: 150px;
        left: 270px;
        width: 150px;
        height: 150px;
        background-image: url(../assets/imagestar/ellipse8rsag9.png);
        background-repeat: no-repeat;
        background-position: center;
    }
    
    .star9 {
        position:absolute;
        top: 161px;
        left: 362px;
        width: 150px;
        height: 150px;
        background-image: url(../assets/imagestar/ellipses9ensagqir4.png);
        background-repeat: no-repeat;
        background-position: center;
    }
    
    
    
    .star11 {
        position:absolute;
        top: 350px;
        left: 27px;
        width: 150px;
        height: 150px;
        background-image: url(../assets/imagestar/ellipse11xetdenken5.png);
        background-repeat: no-repeat;
        background-position: center;
    }
    
    .star12 {
        position:absolute;
        top: 366px;
        left: 74px;
        width: 150px;
        height: 150px;
        background-image: url(../assets/imagestar/ellipse12-xetde11inyani6.png);
        background-repeat: no-repeat;
        background-position: center;
    }
    
    .star13 {
        position:absolute;
        top: 313px;
        left: 117px;
        width: 150px;
        height: 150px;
        background-image: url(../assets/imagestar/ellipse13-12denyux-solg7.png);
        background-repeat: no-repeat;
        background-position: center;
    }
    
    .star14 {
        position:absolute;
        top: 210px;
        left: 242px;
        width: 150px;
        height: 150px;
        background-image: url(../assets/imagestar/ellipse14-13denyux-8.png);
        background-repeat: no-repeat;
        background-position: center;
    }
    
    .star15 {
        position:absolute;
        top: 273px;
        left: 254px;
        width: 150px;
        height: 150px;
        background-image: url(../assets/imagestar/ellipse15.png);
        background-repeat: no-repeat;
        background-position: center;
    }
    
    
    .star16 {
        position:absolute;
        top: 361px;
        left: 242px;
        width: 150px;
        height: 150px;
        background-image: url(../assets/imagestar/ellipse16.png);
        background-repeat: no-repeat;
        background-position: center;
    }

    /* some group of stars are hidden */
    .star1, .star2,
    .star4, .star10 {
        display:none;
    }

    /* Made necessary adjustments to shining stars */
  
  .top-star {
    position: absolute;
    top: 16px;
    left: 284px;
    width: 250px;
    height: 250px;
    background-image: url('../assets/imagestar/top-star.png');
    background-repeat: no-repeat;
    background-position: center;
    animation: shineStar 5s infinite;
    animation-delay: 2s;
  }

  .middle-star {
    position: absolute;
    top: 156px;
    left: 20px;
    width: 250px;
    height: 250px;
    background-image: url('../assets/imagestar/middle-star.png');
    background-repeat: no-repeat;
    background-position: center;
    animation: shineStar 5s infinite;
    animation-delay: 2s;
  } 

  .bottom-star {
    position: absolute;
    top: 506px;
    left: 107px;
    width: 250px;
    height: 250px;
    background-image: url('../assets/imagestar/bottom-star.png');
    background-repeat: no-repeat;
    background-position: center;
    animation: shineStar 5s infinite;
    animation-delay: 2s;
  }
    
    
    .biglogo {
        width: 63px;
        height: 63px;
        margin-left: 200px;
        margin-top: 135px;
        
    }
    
    h1 {
        margin-top: 37px;
        font-family: 'Oswald';
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 64px;
    /* or 133% */
        text-align: center;
        color: #FFFFFF;
    }
    
    .afterh1 {
        font-family: 'Source Sans Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
    /* or 133% */
        text-align: center;
        color: rgba(255, 255, 255, 0.7)
    }
    
    .sectionfirst {
        width: 480px;
        height: 990px;
        margin-top: 0px;
        background: #EEEEEE;
        
    }
    
    .secthead {
        width: 355px;
        margin: 0 auto;
        padding-top: 57px;
        font-family: 'Oswald';
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 64px;
    /* or 133% */
        text-align: center;
        color: #464547;
    }
    
    .h3first {
        font-family: 'Source Sans Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
    /* or 133% */
        text-align: center;
        color: #666666;
    }
    
    .par {
        width: 445px;
        height: 194px;
        display:flex;
        justify-content: center;
        column-gap: 84px; 
        flex-direction: column;
        margin: 0 auto;
        padding-top: 65px;
        padding-bottom: 125px;
        font-family: 'Source Sans Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        /* or 138% */
        text-align: left;
        color: #666666;
    }
     
    .flexpar {
        width: auto;
        
    }
    
    .readmore {    
        margin: auto;
        display:block;
        padding: 5px 21px 5px 21px;
        background: #55C2D8;
        border-radius: 18px;
        border-style: none;
        font-family: 'Oswald';
        font-size: 14px;
        line-height: 26px;
    /* or 186% */
        text-align: center;
        letter-spacing: 0.1em;
        color: #FFFFFF;
        text-transform: uppercase;    
    
    }
    
    .learnmore {
        background-image: url('../assets/learn-more-mobile.png');
        width: 480px;
        height: 637px;
        margin:0 auto;
        margin-top: -40px;
    }
    
    .culture {
        padding-top: 75px;
        font-family: 'Oswald';
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 64px;
    /* or 133% */
        text-align: center;
        letter-spacing: 0.12rem;
        color: #FFFFFF;
    }
    
    /* .ellipse {
        width: 100px;
        height: 100px;
        margin: auto;
        padding-top: 38px;
        display:block;
    } */
    
    /* .button9654 {
        position: relative;    
        height: 1px;
        width: 1px;
        font-size: 125px;
        background-color: #39C2D7;
        color: white;
        left: 567px;
        top: -158px;
        padding:0%;    
        border-style:none
        
    } */
    
    /* .triangle {
        position: relative;
        width: 36px;
        height: 46px;
        left: 228px;
        top: -75px;
    } */

    .play-button {
        display: inline-block;
        margin-left: 180px;
        margin-top: 25px;    
       
      }

    .triangle9654 {
        background-color: #39C2D7;
        border-radius: 100%;
        height: 110px;
        width: 60px;
        color: white;
        font-size: 100px; 
        text-align: center;
        padding-top: 3px;
        padding-right: 30px;
        padding-bottom: 3px;
        padding-left: 30px; 
        display: flex; 
      align-items: center; 
      justify-content: center;         
        transition: transform 0.5s, background-color 0.5s, color 0.5s;
        transition-property: transform, background-color, color; 
       transition-delay: 0.5s, 0.5s, 0.5s;
       }
    
    .afterlearn {
        margin: 0 auto;
        margin-top: 50px;
        font-family: 'Source Sans Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        /* or 133% */
        text-align: center;
        color: #FFFFFF;
    }
    
    
    footer {
        width: 480px;
        height: 292px;
        margin: 0 auto;
        background: #464547;
    }
    
       
    .smalllogo {
            position: relative;
            left: 160px;
            top: 36px;
            width: 20px;
            height: 20px;
            
        }
    
    .project {
        margin-left: 0;
        margin-top: 15px;
        text-align:center;
        font-family: 'Source Sans Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 16px;
    /* identical to box height, or 89% */
        letter-spacing: 0.2em;
        text-transform: uppercase;
        color: #FFFFFF;
    
    }
    
    .address1 {
        margin-left: 0px;
        padding-top: 18px;
        font-family: 'Source Sans Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        text-align: center;
       
        color: rgba(255, 255, 255, 0.4);
    }
    
    .email {
        text-decoration: none;
        color: rgba(255, 255, 255, 0.4);
        /* margin-top: 15px; */
    }
    
    .address1 span {
        margin-bottom: 10px; 
      }
    
    .copyright {
        align-self: auto;
        margin-left: 0px;
        padding-top: 10px;
        font-family: 'Source Sans Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        text-align: center;
       
        color: rgba(255, 255, 255, 0.4);
    }
    
    .flexfootcont {
        display: block;
        justify-content: flex-start;
        justify-items: flex-start;
        padding-top: 20px;
    }

    .flexfoot1 {
        margin: 0 auto;
    }
    
    /* From here flex menu */
    
    

    .menu {
        display:flex;
        /* border: 2px solid white; */
        margin-left: 15px;
        align-items: center;
        text-transform: uppercase;
        justify-content: flex-start;
        }

    .projname {
        flex-basis: 220px;
        padding-left: 20px;
        padding-top: 40px;
        /* border: 2px solid yellow; */
        flex-grow: 0.1;
        font-family: 'Source Sans Pro';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 16px;
    /* identical to box height, or 80% */
    
    letter-spacing: 0.1em;
    color: #FFFFFF;
    }

    .menu nav {
        display: none;
    }

    .threelines {
        width: 22px;
        height: 2px;
        background-color: #FFFFFF;
        position: relative; 
        top: 20px;
        left: 140px;
    }

    .threelines::before,
    .threelines::after {
        content: "";
        position: absolute;
        width: 22px;
        height: 2px;
        background-color: #FFFFFF;
    }

    .threelines::before {
        top: -6px; /* Adjust the position of the upper line */
    }

    .threelines::after {
        bottom: -6px; /* Adjust the position of the lower line */
    }

    
  
   
}
